amqp==2.2.2
anyjson==0.3.3
asn1crypto==0.24.0
billiard==3.5.0.3
celery==4.1.0
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cryptography==2.1.4
Django==1.9.7
django-celery-beat==1.1.0
django-celery-results==1.0.1
django-common-helpers==0.8.0
django-cron==0.4.6
django-oauth2-provider==0.2.6.1
django-timezones==0.2
enum34==1.1.6
ephem==3.7.6.0
html5lib==0.999
HTMLParser==0.0.2
httplib2==0.19.0
idna==2.6
ipaddress==1.0.19
ipython==3.2.1
kombu==4.1.0
phonenumbers==8.8.11
pycparser==2.18
PyJWT==1.5.3
pyOpenSSL==17.5.0
pytz==2018.3
redis==2.10.5
requests==2.2.1
shortuuid==0.5.0
six==1.11.0
twilio==5.4.0
urllib3==1.22
vine==1.1.4
